html {
    background-color: #131416;
    color: #8b8999;
    font-family: Trebuchet MS, sans-serif; 
}
a {
    color: #aaa7bc;
    font-family: Trebuchet MS, sans-serif; 
}
nav {
    background-color: #2f383d;
    margin-top: -18px;
    margin-left: -18px;
    margin-right: -18px;
    font-size: 20px;
    padding-left: -30px;
    position: fixed;
    width: 100%;
    top:18px;
    left:18px;

}
.shrink {
    width: 100%;
    object-fit: contain;
}
.expand {
    width: 50%;
    object-fit: contain;
}
.half {
    width: 75%;
    object-fit: contain;
}
.rotate {
    margin-top: 10%;
    transform: rotate(90deg);
    width:75%;
    object-fit: contain;
}

.inline {
    display: inline-block;
    width:100%;
    }
